*{
    margin: 0;
    padding: 0;
  
}

:root{
    --wwwhite: rgb(225, 220, 208);
    --gggreen: #1f7521;
    --mono: maple-reg, 'Courier New', Courier, monospace;
    --mechanik: mechanik-reg, san-serif;
}

@font-face {
  font-family: "maple-reg";
  src: url("assets/maple-reg.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "mechanik-reg";
  src: url("assets/mechanik-reg.otf") format("OpenType");
  font-style: normal;
  font-weight: 100;
}

body{
    background-color: rgb(47, 35, 35);
}

.ascii-art{
    font-family: var(--mono);
    white-space: pre;
    color: rgb(241, 128, 243);
    transform: translateX(50%) translateY(50%);
}




