*{
    margin: 0;
    padding: 0;
}

:root{
    --wwwhite: rgb(226, 226, 226);
    --gggreen: #1f7521;
    --mono: maple-reg, 'Courier New', Courier, monospace;
    --mechanik: mechanik-reg, san-serif;
}

@font-face {
  font-family: "maple-reg";
  src: url("assets/maple-reg.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "mechanik-reg";
  src: url("assets/mechanik-reg.otf") format("OpenType");
  font-style: normal;
  font-weight: 100;
}

.introduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 220px auto;
    text-align: center;
}

.introduction > p{
    font-size: 1.3rem;
    font-family: var(--mono);
    color: var(--gggreen);
}
/*figure out how to import as svg/selectable*/
img{
    max-width: 700px;
    margin-bottom: 30px;
}


a{
    text-decoration: none;
    color: var(--gggreen);
}

.dig-in{
    position: fixed;
    left: 50%;
    top: calc(100vh - 5rem);
    transform: translateX(-50%);
    margin-top: 0;
    padding: 10px 35px;
    border: var(--gggreen) solid 1px;
    background-color: rgba(226, 226, 226, 0);
    font-family: var(--mechanik);
    font-size: 1rem;
    border-radius: 5px;
    border-style: dotted;
    z-index: 999;
    animation: slug 600s linear forwards;
    white-space: nowrap;
}

.dig-in:hover{
    animation: sway 6s infinite ease-in-out;
}

@keyframes slug {
    0% { transform: translateX(-50%) translateX(0); }
    100% { transform: translateX(-50%) translateX(120vw); }
}

@keyframes sway {
    0%,
    100% { transform: translateX(-50%) translateX(0); }
    50% { transform: translateX(-50%) translateX(4px); }
}

